<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/all.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/mdb.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>user home</title>
    </head>
    <body>
        <p class="informations" data-ets="Lycée Lauraine" data-classe="6eme" data-matiere="Mathématiques" data-cours="Les Fonctions"></p>
        <div class="navbar navbar-light navbar-expand-xl">
            <div class="navbar-brand">
                <h6>GouvApp</h6>
            </div>
            <ol class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link">Cours</a></li>
                <li class="nav-item"><a class="nav-link">Quizz</a></li>
                <li class="nav-item"><a class="nav-link">Corrections</a></li>
            </ol>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="direct">
                        <h2>Direct</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="cours-info">
                        <h3>Mathématiques</h3>
                        <h4>Les fonctions</h4>
                        <h5>en cours ....</h5>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="cours_chat">
                        <div class="messages">
                        </div>
                        <div class="envoie__message">
                            <form>
                                <input type="text" placeholder="entrez votre message" required>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/mdb.min.js"></script>
        <script>
            const ws = new WebSocket('ws://192.168.43.156:8090');
            ws.onopen = (evt) => {
                ws.send(JSON.stringify({"type":"getUrl","url":window.origin+location.pathname}))
            }

            ws.onmessage = (evt) => {
                const m = JSON.parse(evt.data);
                if(m.type === "addMessageChat"){
                    let html = $('.cours_chat .messages').html();
                    $('.cours_chat .messages').html(html+`
                        <div class="message">
                            <h6>${m.data.username}</h6>
                            <p>${m.data.message}</p>
                        </div>
                    `);
                    $('.envoie__message form input').val('');
                }
            }
            $('.envoie__message form').on('submit',(e)=>{
                e.preventDefault();
                const data = {
                 /* nom_classe: $('.informations').attr('data-ets') + '/' + $('.informations').attr('data-classe'),
                    nom_matiere: $('.informations').attr('data-matiere'),
                    title_chat: $('.informations').attr('data-cours'), */
                    username: 'test',
                    message: $('.envoie__message form input').val()
                }
                ws.send(JSON.stringify({"type":"addMessageChat","data":data}));
            })
        </script>
    </body>
</html>
